<!-- <%- include("../layout/header.ejs") -%>



<h1>welcome <%=admin.name  %></h1>

<a href="/admin/dashboard">Dashboard</a>
<br><br>
<table style="width: 50%;">
    <tr>
        <td>Name: </td>
        <td><%=admin.name%></td>
    </tr>
    <tr>
        <td>Email Id: </td>
        <td><%=admin.email%></td>
    </tr>
    <tr>
<td>Mobile No:</td>
<td><%=admin.mobile%></td>
    </tr>

</table>
<br><br>

<a href="/admin/logout">logout</a>

<%- include("../layout/footer.ejs") -%> -->